.community_container{
    padding-left: 10rem;
    padding-right: 10rem;
}
.community_design_font {
    font-family: Epilogue;
    font-size: 1rem;
    line-height: 2rem;
    color:white;
    text-align: justify;
}
.community_design_font1 {
    font-family: Epilogue;
    font-size: 1rem;
    line-height: 2rem;
    color:black;
    text-align: justify;
}
.black_background{
    background-color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.white_background{
    background-color: #FFFAF4;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.community_pic{
    max-width: 100%;
}
.community_cancer{
    max-width: 80%;
    margin-left: 2rem;
    margin-top: -2rem;
}
.community_cancer1{
    max-width: 80%;
    /* margin-left: 2rem; */
    margin-top: -2rem;
}
.trash{
    margin-top: -1rem;
}
.community_col{
    padding-right: 5rem;
}
.community_bold{
    color: #76B19F;
    font-family: CorbenBold;
}
.community_bold1{
    color: #5E53D9;
    font-family: CorbenBold;
}
.community_paragraph{
    margin-bottom: 1rem;
}


.cancer{
    padding-top: 5rem;
    padding-right: 5rem;
}

.disks{
    bottom: 10rem;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

