@font-face {
    font-family: "GT-Haptik-Black-Trail";
    src: local("GT-Haptik-Black-Trail"), url(../../../font/GT-Haptik-Black-Trial.otf) format("opentype");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face{
    font-family: "GT-Walsheim-Pro-Regular-Trial";
    src: local("GT-Walsheim-Pro-Regular-Trial"), url(../../../font/GT-Walsheim-Pro-Regular-Trial.otf);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.acm_row{
    background-color: #ce5cf6;
    position: relative;
<<<<<<< HEAD
    top:73%;
=======
    top:75%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    z-index: 1;
>>>>>>> 707ae0f34d6f67094fbcab2945778a08721590ac
}

.acm_text{
    font-family:GT-Walsheim-Pro-Regular-Trial;
    color:white;
    margin: 0;
<<<<<<< HEAD
    margin-left: 0.3rem;
=======
    margin-left: 0rem;
>>>>>>> 707ae0f34d6f67094fbcab2945778a08721590ac
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #d35135;
<<<<<<< HEAD
=======
    border-style: solid;
    border-width: 2px;
    border-color: black;
>>>>>>> 707ae0f34d6f67094fbcab2945778a08721590ac
}

.acm_div{
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #257a66;
    border-style: solid;
    border-width: 2px;
    border-color: black;
<<<<<<< HEAD
    margin-left: 0.2rem;
=======

>>>>>>> 707ae0f34d6f67094fbcab2945778a08721590ac
}

.acm_div:nth-child(1)>div{
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
}
.acm_div>img{
    max-width: 30%;
<<<<<<< HEAD
=======
    flex:auto;
>>>>>>> 707ae0f34d6f67094fbcab2945778a08721590ac
    margin: 0;
}

.acm_row2{
    position: relative;
<<<<<<< HEAD
    top:8%;
=======
    top:10%;
    z-index: 1;
>>>>>>> 707ae0f34d6f67094fbcab2945778a08721590ac
}

.acm_row3{
    position: relative;
<<<<<<< HEAD
    top:8%;
=======
    top:10%;
    z-index: 1;
}

@media(max-width:767px){
    .acm_text{
        font-size: 1rem;
        margin:0rem;
    }
    .acm_row{
        top:0%;
    }
    .acm_row2{
        position: relative;
        top:0%;
    }
    
    .acm_row3{
        position: relative;
        top:0%;
    }
    .acm_div:nth-child(1)>div>a{
        width: 85%;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
>>>>>>> 707ae0f34d6f67094fbcab2945778a08721590ac
}