@font-face {
    font-family: "GT-Haptik-Black-Trail";
    src: local("GT-Haptik-Black-Trail"), url(../../../font/GT-Haptik-Black-Trial.otf) format("opentype");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face{
    font-family: "GT-Walsheim-Pro-Regular-Trial";
    src: local("GT-Walsheim-Pro-Regular-Trial"), url(../../../font/GT-Walsheim-Pro-Regular-Trial.otf);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.arch_row>div{
    margin-left: 0.5rem;
}

.arch_row{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.arch_row2{
    position: relative;
    top:10%;
}

.arch_row3{
    position: relative;
    top:10%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.arch_img{
    position: relative;
    left:65%;
    max-width: 35%;
}
.arch_text{
    font-family:GT-Walsheim-Pro-Regular-Trial;
    color:white;
    margin: 0;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #d35135;
}