.tr_text{
    font-family:GT-Walsheim-Pro-Regular-Trial;
    color:white;
    margin: 0;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:#257a66;
}

.ts_div{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #e08f61;
    display: flex;
    justify-content: flex-start;
}
.ts_div>img{
    max-width: 30%;
}

.ts_div_div>div{
    margin-left: 1rem;
    width: 125%;
}

.ts_img{
    max-width: 50%;
    position: relative;
    left: 50%;
}