.myNav {
  border: #fcfcfc;
  border-style: solid none solid none;
  margin-top: 2rem;
  z-index: 999;
  background-color: #121212;
}
.navBrand {
  margin-left: 2rem;
  cursor: pointer;
}
.nav-link {
  color: #fcfcfc !important;
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-right: 2rem;
}
.nav-link:hover {
  text-decoration: underline !important;
}
.navbar-toggler {
  background-color: #fcfcfc !important;
}
.navbar-collapse > div > div {
  margin: 2rem !important;
}
