body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#121212;
}
Button {
  color:#121212 !important;
  background-color:#121212 !important;
  border-color:#121212 !important;

}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
.myButton:hover {
  color:#121212;
}
.myButton {
  background-color:#121212;
  border-color:#121212;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myNav {
  border: black;
  border-style: solid none solid none; 
}